$color-light-blue: #63ffff;
$color-medium-blue: #1942a8;
$color-dark-blue: #001875;

svg {
  width: 100px;
  height: 100px;
  overflow: visible;
  
  path {
    fill: none;
    stroke-width: 10;
    stroke: $color-light-blue;
    stroke-dasharray: 0 400;
    stroke-linecap: round;
    stroke-dashoffset: 400;
    animation-name: move;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  .frame {
    circle {
      stroke-width: 9;
      stroke: $color-light-blue;
      fill: none;

      &:nth-of-type(1) {
       stroke: $color-dark-blue;
       filter: url(#blur);
      }
      &:nth-of-type(3) {
       stroke-width: 7;
       stroke: $color-medium-blue;
      }
    }
  }

  .horizline {
    circle {
      stroke-width: 9;
      stroke: $color-light-blue;
      fill: none;
      animation: horizontalmove 2s linear infinite;
      &:nth-of-type(6)
      {
        animation: horizontalmovedisappear 2s linear infinite;
      }
      &:nth-of-type(1)
      {
        filter: url(#blur);
        stroke-width: 4;
        stroke: $color-dark-blue;
      }
      &:nth-of-type(2)
      {
        filter: url(#blur);
        stroke-width: 4;
        stroke: $color-dark-blue;
      }
      &:nth-of-type(3)
      {
        filter: url(#blur);
        stroke-width: 4;
        stroke: $color-dark-blue;
        animation: horizontalmovedisappear 2s linear infinite;
      }
    }
  }
}

@keyframes move {
  0%, 66% {
    stroke-dashoffset: 30;
    stroke-dasharray: 30 157;
  }
  100% {
    stroke-dashoffset: -157;
    stroke-dasharray: 30 157;
  }
}

@keyframes horizontalmove {
  100% {
    transform: translate(33px);
  }
}
@keyframes horizontalmovedisappear {
  70% {
    opacity: 1;
  }
  71% {
    opacity: 0;
  }
  100% {
    opacity: 0;
    //stroke: transparent;
    transform: translate(33px);
  }
}

